{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <!-- 티저 이미지 섹션 -->
    <div class="archive__item-teaser">
      <!-- JavaScript로 설정할 티저 이미지 -->
      <img id="teaser-image-{{ post.id }}" src="{{ site.teaser | default: '' }}" alt="">
    </div>
    <h2 class="archive__item-title no_toc" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
    </h2>
    
    <p class="page__meta">
      {% if post.last_modified_at %}
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <time datetime="{{ post.last_modified_at | date: "%Y-%m-%d" }}">{{ post.last_modified_at | date: "%Y년 %m월 %d일" }}</time>&emsp;
      {% elsif post.date %}
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y " }}</time>&emsp;
      {% endif %}
    </p>
    
    <!-- 숨겨진 콘텐츠 영역 -->
    <div class="content" style="display:none;">
      {{ post.content }}
    </div>

    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {% endif %}
  </article>
</div>

<!-- JavaScript 추가: 첫 번째 이미지를 티저 이미지로 설정 -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // 각 포스트의 아티클 요소를 찾습니다.
    var article = document.querySelector('.archive__item');
    // 티저 이미지 요소를 찾습니다.
    var teaserImg = article.querySelector('img[id^="teaser-image"]');
    // 숨겨진 콘텐츠 영역을 찾습니다.
    var contentDiv = article.querySelector('.content');
    // 콘텐츠 영역에서 첫 번째 이미지를 찾습니다.
    var img = contentDiv.querySelector('img');
    
    // 첫 번째 이미지가 존재하면, 티저 이미지로 설정합니다.
    if (img) {
      teaserImg.src = img.src;
    }
  });
</script>
